<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/admin"><img class="sidebar-brand" src="/images/img/logo.png"></a>
                <a href="#" data-toggle="modal" data-target="#globalSearchModal" class="sidebar-search text-muted"><i
                        class="fas fa-search"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    {{{feather 'bar-chart'}}} &nbsp;
                    Bảng Điều Khiển
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Quản lý</span>
            </h6>
            {{#ifCond session.isAdmin '===' true}}
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/products">
                    {{{feather 'tag'}}} &nbsp;
                    Sản phẩm
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/product/new">
                    {{{feather 'plus'}}}
                </a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/products">
                    {{{feather 'tag'}}} &nbsp;
                    Sản phẩm
                </a>
            </li>
            {{/ifCond}}
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/orders">
                    {{{feather 'package'}}} &nbsp;
                    Đơn đặt hàng
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/order/create">
                    {{{feather 'plus'}}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/customers">
                    {{{feather 'users'}}} &nbsp;
                    Khách hàng
                </a>
            </li>
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/users">
                    {{{feather 'user'}}} &nbsp;
                    Tài khoản
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/user/new">
                    {{{feather 'plus'}}}
                </a>
            </li>
            {{#if @root.config.modules.enabled.reviews}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/reviews">
                    {{{feather 'star'}}} &nbsp;
                    Đánh giá
                </a>
            </li>
            {{/if}}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Cài Đặt</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings">
                    {{{feather 'sliders'}}} &nbsp;
                    Cài đặt chung
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/menu">
                    {{{feather 'menu'}}} &nbsp;
                    Danh mục
                </a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link" href="/admin/settings/pages">
                    {{{feather 'file-text'}}} &nbsp;
                   Web tĩnh
                </a>
            </li> --}}
            {{#ifCond session.isAdmin '===' true}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/discounts">
                    {{{feather 'code'}}} &nbsp;
                    Mã giảm giá
                </a>
            </li>
            {{/ifCond}}
        </ul>
        <ul class="nav flex-column mt-5">
            <li class="nav-item">
                <a class="nav-link" href="/admin/logout">
                    {{{feather 'log-out'}}} &nbsp;
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>
</nav>