<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh Mục</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Toàn cửa hàng
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do you need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>0965.105.459</h5>
                            <span>Hỗ trợ 24/07</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/images/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Cửa Hàng Rau Củ</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang Chủ</a>
                        <a href="/">Rau Củ</a>
                        <span>Oganic</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        {{#if result.productImage}}
                        <img class="product__details__pic__item--large" src="{{result.productImage}}"
                            id="product-title-image" alt="">
                        {{else}}
                        <img class="product__details__pic__item--large" src="/uploads/placeholder.png"
                            id="product-title-image" alt="">
                        {{/if}}
                    </div>

                    <div class="row">

                    </div>

                    {{#ifCond @root.images.length '>' 1}}
                    <div class="product__details__pic__slider owl-carousel">
                        {{#each @root.images}}
                        <img data-imgbigurl="{{this.path}}" src="{{this.path}}" alt="">
                        {{/each}}
                    </div>
                    {{/ifCond}}
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{result.productTitle}}</h3>
                    {{!-- <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div> --}}
                    <div class="product__details__price">
                        {{#if variants}}
                        {{formatAmount variants.0.price}} {{currencySymbol config.currencySymbol}}
                        {{else}}
                        {{formatAmount result.productPrice}} {{currencySymbol config.currencySymbol}}
                        {{/if}}
                    </div>
                    {{#if variants}}
                    <h4 class="col-md-10 product-option">{{ @root.__ "Options" }}</h4>
                    <div class="col-md-10">
                        <select id="product_variant" class="form-control">
                            {{#each variants}}
                            <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/if}}
                    <p> {{{fixTags result.productDescription}}}</p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input id="product_quantity" type="number" id="product_quantity" maxlength="3"
                                    value="1">
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary qty-btn-minus" type="button">-</button>
                        </div>
                        <input type="number" class="form-control add-color text-center" id="product_quantity"
                            maxlength="3" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-primary qty-btn-plus" type="button">+</button>
                        </div>
                    </div> --}}
                    <a href="#" class="primary-btn product-add-to-cart">THÊM VÀO GIỎ HÀNG</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Thương Hiệu</b> <span>Ogani</span></li>
                        <li><b>Vận chuyển</b> <span>Vận chuyển trong ngày.</span></li>
                        <li><b>Khối lượng</b> <span>1 Túi</span></li>
                        <li><b>Chia sẻ</b>
                            <div class="share">
                                <div id="fb-root">
                                </div>
                                <div class="fb-share-button"
                                    data-href="https://oganiviet.herokuapp.com/{{this.productPermalink}}"
                                    data-layout="button_count">
                                </div>
                                {{!-- <a class="fb-share-button" data-href="https://oganiviet.herokuapp.com/"
                                    data-layout="button_count"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a> --}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Mô Tả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                aria-selected="false">Thông Tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                aria-selected="false">Đánh Giá
                                <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông tin sản phẩm</h6>
                                <p> {{{fixTags result.productDescription}}}</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông tin sản phẩm</h6>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Proin eget tortor risus.</p>
                                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông tin sản phẩm</h6>
                                 {{#if @root.config.modules.enabled.reviews}}
                <div class="col-md-10 mb-3">
                    <button class="btn btn-warning" id="add-review">Add review</button>
                    <div class="d-inline-block align-middle">{{{@root.reviews.ratingHtml}}}</div>
                    {{#if @root.reviews.reviews}}
                    <a href="#collapseReviews" data-toggle="collapse" class="d-inline-block align-middle ml-3">Recent reviews</a>
                    {{/if}}
                </div>
                <div class="col-md-10">
                    <ul class="list-group collapse" id="collapseReviews">
                    {{#each @root.reviews.reviews}}
                        <li class="list-group-item">
                            <p class="text-muted small text-right">{{timeAgo this.date}}</p>
                            <p><b>Rating:</b> {{this.rating}}</p>
                            <p><b>Title:</b> {{this.title}}</p>
                            <p><b>Description:</b> {{this.description}}</p>
                        </li>
                    {{/each}}
                    </ul>
                </div>
                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Sản Phẩm Liên Quan</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {{#if config.showRelatedProducts}}
            {{#if relatedProducts}}
            {{#each relatedProducts}}
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="product__item">
                    {{#if productImage}}
                    <div class="product__item__pic set-bg" data-setbg="{{this.productImage}}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li>
                                {{#if @root.config.showHomepageVariants}}
                                <a data-id="{{this._id}}" href="#"><i
                                        class="fa fa-shopping-cart add-variant-to-cart"></i></a>
                                {{else}}
                                <a class="fa fa-shopping-cart add-to-cart" data-id="{{this._id}}"
                                    data-link="{{this.productPermalink}}"
                                    data-has-variants="{{checkProductVariants this.variants}}"></a>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">

                        <h6><a href="/product/{{this.productPermalink}}">{{this.productTitle}}</a></h6>
                        {{#if variants}}
                        <div class="col-md-12">
                            {{#if @root.config.showHomepageVariants}}
                            <select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
                                {{#each variants}}
                                <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}} -
                                    {{currencySymbol
                                    @root.config.currencySymbol}}{{this.price}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <h5>
                                {{formatAmount variants.0.price}} {{currencySymbol @root.config.currencySymbol}}
                            </h5>
                            {{/if}}
                        </div>
                        {{else}}
                        <h5>
                            {{formatAmount productPrice}} {{currencySymbol @root.config.currencySymbol}}
                        </h5>
                        {{/if}}
                    </div>
                    {{else}}
                    <div class="product__item__pic set-bg" data-setbg="/uploads/placeholder.png">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li>
                                {{#if @root.config.showHomepageVariants}}
                                <a data-id="{{this._id}}" href="#"><i
                                        class="fa fa-shopping-cart add-variant-to-cart"></i></a>
                                {{else}}
                                <a class="fa fa-shopping-cart add-to-cart" data-id="{{this._id}}"
                                    data-link="{{this.productPermalink}}"
                                    data-has-variants="{{checkProductVariants this.variants}}"></a>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{this.productTitle}}</a></h6>
                        {{#if variants}}
                        <div class="col-md-12">
                            {{#if @root.config.showHomepageVariants}}
                            <select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
                                {{#each variants}}
                                <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}} -
                                    {{currencySymbol
                                    @root.config.currencySymbol}}{{this.price}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <h5>
                                {{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.price}}
                            </h5>
                            {{/if}}
                        </div>
                        {{else}}
                        <h5>
                            {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                        </h5>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}

            {{/if}}
            {{/if}}
        </div>
    </div>
</section>


</script>
<!-- Related Product Section End -->
<input type="hidden" id="productId" value="{{result._id}}">
<input type="hidden" id="currencySymbol" value="{{currencySymbol config.currencySymbol}}">