{{> partials/menu}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="col-sm-12">
        <h2>Đơn đặt hàng</h2>
    </div>
    <div class="col-sm-12 search_bar">
        <div class="input-group">
            <input type="text" name="order_filter" id="order_filter" class="form-control" placeholder="Tìm kiếm đơn hàng">
            <div class="input-group-append">
                <button class="btn btn-outline-success" id="btn_order_filter">Tìm kiếm</button>
                <a href="/admin/orders/bystatus/" class="hidden-xs btn btn-outline-info orderFilterByStatus">Bằng trạng thái</a>
                <a href="/admin/orders" class="hidden-xs btn btn-outline-warning">{{{feather 'x-octagon'}}}</a>
            </div>
        </div>
        <div class="orderFilter">
            <div class="row">
                <div class="text-warning top-pad-10 col-sm-8">Dơn đặt hàng có thể tìm kiếm bằng tên, email or mã bưu điện</div>
                <div class="col-sm-4 top-pad-10">
                    <form class="form-inline float-sm-right">
                        <label for="orderStatusFilter" class="control-label formLabel right-pad-10">Trang thái</label>
                        <select class="form-control" id="orderStatusFilter">
                            <option value="Completed">Đã hoàn thành</option>
                            <option value="Paid">Đã thanh toán</option>
                            <option value="Created">Đã tạo</option>
                            <option value="Cancelled">Đã hủy</option>
                            <option value="Declined">Không nhận hàng</option>
                            <option value="Shipped">Đã giao</option>
                            <option value="Pending">Đang chờ</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 top-pad-10">
        <ul class="list-group">
            <li class="list-group-item">
                {{#if searchTerm}}
                    <strong>Đơn đặt hàng - <span class="text-danger">Kết quả tìm kiếm: {{searchTerm}} </span></strong>
                {{else}}
                    <strong>Đơn hàng mới nhất</strong>
                {{/if}}
            </li>
            {{#if orders}}
            {{#each orders}}
                <li class="list-group-item">
                    <div class="float-right top-pad-5">
                        {{ @root.__ "Status" }}: <span class="text-{{getStatusColor this.orderStatus}}">{{this.orderStatus}}</span>
                        <a class="text-danger" href="/admin/order/delete/{{this._id}}" onclick="return confirm('Bạn có chắc muốn xóa đơn hàng');"> {{{feather 'trash-2'}}}</a>
                    </div>
                    <div class="top-pad-5">
                        <a href="/admin/order/view/{{this._id}}" class="text-success">Xem đơn hàng</a> - <span class="text-info">Thời gian: </span>{{formatDate this.orderDate "DD/MM/YYYY hh:mm"}} | <span class="text-info">Email:</span> {{this.orderEmail}} | <span class="text-info">{{ @root.__ "Last name" }}:</span> {{this.orderLastname}}
                    </div>
                </li>
            {{/each}}
            {{else}}
                <li class="list-group-item">
                    <h5 class="text-center">
                        {{ @root.__ "No orders found" }}
                    </h5>
                </li>
            {{/if}}
        </ul>
    </div>
    <div class="col-md-12 mt-5">
        <div id="pager" class="d-flex justify-content-center"></div>
    </div>
</main>
{{!-- Pager settings --}}
<input type="hidden" id="itemsPerPage" value="10" >
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalItemCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">