
    <!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh Mục</span>
                    </div>
                    <ul>
                        {{#each menu.items}}
                        <li {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}} {{#menuMatch this.title
                            @root.title}}{{/menuMatch}}>
                            <a href="{{this.link}}">{{this.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Toàn cửa hàng
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input name="frm_search" id="frm_search" type="search" placeholder="What do you need?">
                            <button type="submit" id="btn_search" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>0965.105.459</h5>
                            <span>Hỗ trợ 24/07</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/images/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="col-12 pl-4">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 padding">  
            {{{order.html}}}
            
            <form id="shipping-form" class="shipping-form" action="/instore/payer-payment" method="post"
                role="form" data-toggle="validator" novalidate="true">
                <input type="text" name="transactionId"  hidden id="transactionId" value="{{order.transactionId}}">
                <input type="text" name="idOrder"  hidden id="idOrder" value="{{order._id}}">
                <input type="number" name="amount"  hidden id="amount" value="{{order.orderTotal}}">
                <input type="text" name="sessionId"  hidden id="sessionId" value="{{order.sessionId}}">
                <div class="instore_button col-sm-12 text-center">
                    <button id="success" class="site-btn" type="submit">Hoàn thành</button>
                </div>
            </form>
            <button>Hoàn thành</button>
        </div>
    </div>

<script>
    
    $(window).on('load', function () {
        var preloader = document.getElementById('preloder');
        preloader.style.display = 'none';
    })
</script>